body {
    #background-color:black;
}

*{
    font-family:arial black;
   # color:#fff;
}

#header{
    color:#ccc;
    text-align:center;
    background-color:white;
}

.editing{
    background-color:red;
    color:blue;
}

li.item{
    with:200px;
    list-style-type: none;
    border:1px solid;
    text-align:center;
}

li .item-id{
    font-size: 8px;
    font-weight:normal;
    font-style:italic;
}

li.item{
    cursor:pointer;
    height:200px;
}
